.banner {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("/assets/images/banner-cover.svg") no-repeat center center;
  background-size: cover;
  z-index: 2;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0; 
  top: 0;
  z-index: 1;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("/assets/images/banner-cover.svg") no-repeat center center;
  background-size: cover;
  z-index: 2;
}
.content {
  position: relative;
  z-index: 3;
}
